/*FORMS*/

@mixin module-form {
    .form {
        &-box {
            margin-bottom: 20px;
        }
        .input,
        [class*="input--"],
        .select {
            padding: 5px 5px 5px 10px;
            @include fontSize(14px);
            border: 1px solid $gray-color;
            color: #868686;
        }
        .input {
            height: 40px;
            &:focus {
                border-color: $gray-color;
            }
            @each $type in $type-status {
                &--#{$type} {
                    &:focus {
                        border-color: nth($color-status, index($type-status, $type));
                        box-shadow: 0 0 .5em 0 lighten(nth($color-status, index($type-status, $type)), 20%);
                    }
                }
            }
        }
        textarea {
            min-height: 110px;
        }
    }
    //CHECKBOX
    .checkbox,
    .radiobox {
        &-group {
            cursor: pointer;
            flex-basis: auto;
        }
        &-hidden {
            display: none;
        }
        &-check {
            border-radius: 10px;
            width: 100%;
            display: none;
            @each $type in $type-status {
                &.check-#{$type} {
                    background: nth($color-status, index($type-status, $type));
                }
            }
        }
        &-fake {
            padding: 2px;
            border-width: 2px;
            border-style: solid;
            max-width: 18px;
            min-width: 18px;
            height: 18px;
            @each $type in $type-status {
                &.fake-#{$type} {
                    border-color: nth($color-status, index($type-status, $type));
                }
            }
        }
    }
    .checkbox {
        &-check {
            border-radius: 2px;
        }
    }
    .radiobox {
        &-fake,
        &-check {
            border-radius: 10px;
        }
    }
    //UPLOAD
    .upload-box {
        border: 1px solid lightgray;
        padding: 5px;
        &:not(.upload-box-nomargin) {
            margin-bottom: 10px;
        }
        &-text {
            padding: 5px 10px;
            overflow: hidden;
            &:before {
                content: attr(data-content);
            }
            &:not([data-active="true"]) {
                &:before {
                    color: lightgray
                }
            }
        }
        &-hidden {
            display: none;
        }
        &-btn {
            padding: 5px 10px;
            border-radius: 0 4px 4px 0;
            color: #fff;
            background: lighten($first-color, 5%);
            margin-left: 10px;
            &:not(:hover) {
                background: $first-color;
            }
            .fa {
                margin-left: 5px;
            }
        }
    }
}


/* /FORMS*/