/* CLASSES */

.title-main {
    font-weight: normal;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.subtitle-main {
    font-weight: normal;
}


/* /CLASSES */