/* IMPORTANT */

// OVERFLOW HIDDEN
.overflow {
    overflow: hidden;
}

// POSITION ABSOLITE
.absolute {
    position: absolute;
}

// POSITION RELATIVE
.relative {
    position: relative;
}

//BOX
.box {
    border: 1px solid gainsboro;
    border-radius: 5px;
}

// FULL WIDTH
.fullwidth {
    width: 100%;
}


/* /IMPORTANT */